@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --primary: #6948ff;
  --secondary: #553bcb;
  --darkgrey: #22262a;
  --lightgrey: #d3d3d3;
  --grey: #808080;
}

body {
  color: #333;
  font-family: "Montserrat", sans-serif;
}
.divider::after {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 40%;
  height: 1px;
  background-color: #808080;
}
.divider::before {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 40%;
  height: 1px;
  background-color: #808080;
}
.testimonial__img {
  background-image: linear-gradient(
      to left,
      rgba(73, 50, 173, 0.5),
      rgba(73, 50, 173, 0.9)
    ),
    url("https://images.unsplash.com/photo-1562071707-7249ab429b2a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  width: 100%;
  height: 450px;
  background-position: left;
  border-radius: 10px;
}
